.list {
    position: relative;
    margin-bottom: var(--mantine-spacing-md);
  }
  
  .indicator {
    background-color: transparent;
    border-radius: var(--mantine-radius-md);
    border: 3px solid var(--mantine-color-gray-2);
    box-shadow: var(--mantine-shadow-sm);
  }
  
  .tab {
    z-index: 1;
    font-weight: 500;
    font-weight: 600;
    font-size: 24px;
    width: 12.5rem;
    height: 4.25rem;
    color: white;
  }

  .pageRoot {
    --pagination-active-bg: #38BDBA; /* Set your active background color */
    --pagination-active-color: #ffffff; /* Set your active text color */
}